body {
    background-image: url('images/tandem_grey.png');
}

.no {
    background-image: url('images/broken.png');
}

.yes {
    background-image: url('images/colors.png');
}

.maybe {
    background-image: url('images/clock.png');
}

.certificate {
    background-image: url('images/theCertificate.png');
}

.benefits {
    background-image: url('images/thePerks.png');
}
